/* General */
header {
    width: 100%;
}

nav {
    display:flex;
    height: 4rem;
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
}

.nav__login{
    display: flex;
    gap: 2rem;
}

nav img{
    height: 4rem;
    margin-top: -1.2rem;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
}

body {
    min-height: 95vh;
    display: flex;
    padding-bottom: 4rem;

}

main {
    height: 100%;
    flex-grow: 1;
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/* Dashboard */



/* Login */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: rgb(141, 194, 111);
  background: linear-gradient(
    90deg,
    rgba(141, 194, 111, 1) 0%,
    rgba(118, 184, 82, 1) 50%
  );
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: auto;
}

/* Privacity */

.lst-kix_jhax2kjiqj8h-2>li:before {
    content: "\0025a0   "
}

ol.lst-kix_xazfa2e79fcy-2.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-2 0
}

.lst-kix_jhax2kjiqj8h-1>li:before {
    content: "\0025cb   "
}

.lst-kix_jhax2kjiqj8h-0>li:before {
    content: "\0025cf   "
}

.lst-kix_jhax2kjiqj8h-7>li:before {
    content: "\0025cb   "
}

.lst-kix_xazfa2e79fcy-4>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-4, lower-latin) ". "
}

ul.lst-kix_s6c1dny3f7bp-2 {
    list-style-type: none
}

ul.lst-kix_s6c1dny3f7bp-1 {
    list-style-type: none
}

.lst-kix_xazfa2e79fcy-3>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-3, decimal) ". "
}

ul.lst-kix_s6c1dny3f7bp-4 {
    list-style-type: none
}

ul.lst-kix_s6c1dny3f7bp-3 {
    list-style-type: none
}

.lst-kix_xazfa2e79fcy-2>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-2, lower-roman) ". "
}

.lst-kix_jhax2kjiqj8h-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_s6c1dny3f7bp-0 {
    list-style-type: none
}

.lst-kix_jhax2kjiqj8h-3>li:before {
    content: "\0025cf   "
}

.lst-kix_xazfa2e79fcy-0>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-0, decimal) ". "
}

.lst-kix_xazfa2e79fcy-1>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-1, lower-latin) ". "
}

.lst-kix_jhax2kjiqj8h-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_s6c1dny3f7bp-6 {
    list-style-type: none
}

ul.lst-kix_s6c1dny3f7bp-5 {
    list-style-type: none
}

.lst-kix_jhax2kjiqj8h-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_s6c1dny3f7bp-8 {
    list-style-type: none
}

.lst-kix_xazfa2e79fcy-1>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-1
}

ul.lst-kix_s6c1dny3f7bp-7 {
    list-style-type: none
}

.lst-kix_xazfa2e79fcy-2>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-2
}

.lst-kix_o1pzltbwbirz-2>li:before {
    content: "\0025a0   "
}

.lst-kix_o1pzltbwbirz-3>li:before {
    content: "\0025cf   "
}

.lst-kix_o1pzltbwbirz-0>li:before {
    content: "\0025cf   "
}

.lst-kix_o1pzltbwbirz-1>li:before {
    content: "\0025cb   "
}

ol.lst-kix_xazfa2e79fcy-1 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-0 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-3 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-2 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-5 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-4 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-7 {
    list-style-type: none
}

.lst-kix_1l8b6o5q22jv-8>li:before {
    content: "\0025a0   "
}

ol.lst-kix_xazfa2e79fcy-6 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-8 {
    list-style-type: none
}

.lst-kix_1l8b6o5q22jv-7>li:before {
    content: "\0025cb   "
}

.lst-kix_1l8b6o5q22jv-4>li:before {
    content: "\0025cb   "
}

.lst-kix_1l8b6o5q22jv-6>li:before {
    content: "\0025cf   "
}

ol.lst-kix_xazfa2e79fcy-4.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-4 0
}

.lst-kix_1l8b6o5q22jv-1>li:before {
    content: "\0025cb   "
}

.lst-kix_1l8b6o5q22jv-5>li:before {
    content: "\0025a0   "
}

.lst-kix_1ulll5k4ihx5-0>li:before {
    content: "\0025cf   "
}

.lst-kix_1ulll5k4ihx5-2>li:before {
    content: "\0025a0   "
}

.lst-kix_1l8b6o5q22jv-2>li:before {
    content: "\0025a0   "
}

.lst-kix_1ulll5k4ihx5-1>li:before {
    content: "\0025cb   "
}

.lst-kix_1l8b6o5q22jv-3>li:before {
    content: "\0025cf   "
}

.lst-kix_b4nuu64qr9cy-7>li:before {
    content: "\0025cb   "
}

.lst-kix_b4nuu64qr9cy-8>li:before {
    content: "\0025a0   "
}

.lst-kix_b4nuu64qr9cy-5>li:before {
    content: "\0025a0   "
}

.lst-kix_b4nuu64qr9cy-6>li:before {
    content: "\0025cf   "
}

.lst-kix_xazfa2e79fcy-0>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-0
}

.lst-kix_xazfa2e79fcy-5>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-5, lower-roman) ". "
}

ol.lst-kix_xazfa2e79fcy-5.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-5 0
}

.lst-kix_xazfa2e79fcy-6>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-6
}

.lst-kix_xazfa2e79fcy-6>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-6, decimal) ". "
}

.lst-kix_xazfa2e79fcy-3>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-3
}

.lst-kix_xazfa2e79fcy-8>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-8, lower-roman) ". "
}

.lst-kix_xazfa2e79fcy-7>li:before {
    content: "" counter(lst-ctn-kix_xazfa2e79fcy-7, lower-latin) ". "
}

.lst-kix_s6c1dny3f7bp-1>li:before {
    content: "\0025cb   "
}

.lst-kix_s6c1dny3f7bp-2>li:before {
    content: "\0025a0   "
}

.lst-kix_1b8hgs6ducmm-6>li:before {
    content: "\0025cf   "
}

.lst-kix_1b8hgs6ducmm-7>li:before {
    content: "\0025cb   "
}

.lst-kix_s6c1dny3f7bp-0>li:before {
    content: "\0025cf   "
}

.lst-kix_s6c1dny3f7bp-4>li:before {
    content: "\0025cb   "
}

.lst-kix_1b8hgs6ducmm-4>li:before {
    content: "\0025cb   "
}

.lst-kix_1b8hgs6ducmm-5>li:before {
    content: "\0025a0   "
}

.lst-kix_1b8hgs6ducmm-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_1b8hgs6ducmm-7 {
    list-style-type: none
}

.lst-kix_1b8hgs6ducmm-2>li:before {
    content: "\0025a0   "
}

.lst-kix_1b8hgs6ducmm-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_1b8hgs6ducmm-6 {
    list-style-type: none
}

ul.lst-kix_1b8hgs6ducmm-5 {
    list-style-type: none
}

ul.lst-kix_1b8hgs6ducmm-4 {
    list-style-type: none
}

ul.lst-kix_1b8hgs6ducmm-3 {
    list-style-type: none
}

.lst-kix_s6c1dny3f7bp-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_1b8hgs6ducmm-2 {
    list-style-type: none
}

ul.lst-kix_1b8hgs6ducmm-1 {
    list-style-type: none
}

ul.lst-kix_1b8hgs6ducmm-0 {
    list-style-type: none
}

.lst-kix_b4nuu64qr9cy-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_1l8b6o5q22jv-0 {
    list-style-type: none
}

.lst-kix_s6c1dny3f7bp-8>li:before {
    content: "\0025a0   "
}

.lst-kix_1b8hgs6ducmm-0>li:before {
    content: "\0025cf   "
}

.lst-kix_1b8hgs6ducmm-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_1l8b6o5q22jv-1 {
    list-style-type: none
}

ul.lst-kix_1l8b6o5q22jv-2 {
    list-style-type: none
}

.lst-kix_xazfa2e79fcy-7>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-7
}

ul.lst-kix_1b8hgs6ducmm-8 {
    list-style-type: none
}

.lst-kix_b4nuu64qr9cy-0>li:before {
    content: "\0025cf   "
}

.lst-kix_b4nuu64qr9cy-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_1l8b6o5q22jv-3 {
    list-style-type: none
}

ul.lst-kix_1l8b6o5q22jv-4 {
    list-style-type: none
}

.lst-kix_s6c1dny3f7bp-5>li:before {
    content: "\0025a0   "
}

.lst-kix_s6c1dny3f7bp-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_1l8b6o5q22jv-5 {
    list-style-type: none
}

ul.lst-kix_1l8b6o5q22jv-6 {
    list-style-type: none
}

.lst-kix_b4nuu64qr9cy-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_1l8b6o5q22jv-7 {
    list-style-type: none
}

ul.lst-kix_1l8b6o5q22jv-8 {
    list-style-type: none
}

.lst-kix_s6c1dny3f7bp-7>li:before {
    content: "\0025cb   "
}

.lst-kix_b4nuu64qr9cy-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_jhax2kjiqj8h-0 {
    list-style-type: none
}

ul.lst-kix_jhax2kjiqj8h-2 {
    list-style-type: none
}

.lst-kix_xazfa2e79fcy-8>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-8
}

.lst-kix_1ulll5k4ihx5-4>li:before {
    content: "\0025cb   "
}

.lst-kix_1ulll5k4ihx5-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_jhax2kjiqj8h-1 {
    list-style-type: none
}

.lst-kix_1ulll5k4ihx5-3>li:before {
    content: "\0025cf   "
}

.lst-kix_1ulll5k4ihx5-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_jhax2kjiqj8h-8 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-6.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-6 0
}

ul.lst-kix_jhax2kjiqj8h-7 {
    list-style-type: none
}

.lst-kix_1l8b6o5q22jv-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_jhax2kjiqj8h-4 {
    list-style-type: none
}

ul.lst-kix_jhax2kjiqj8h-3 {
    list-style-type: none
}

ul.lst-kix_jhax2kjiqj8h-6 {
    list-style-type: none
}

.lst-kix_1ulll5k4ihx5-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_jhax2kjiqj8h-5 {
    list-style-type: none
}

.lst-kix_xazfa2e79fcy-5>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-5
}

ol.lst-kix_xazfa2e79fcy-3.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-3 0
}

.lst-kix_1ulll5k4ihx5-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_b4nuu64qr9cy-4 {
    list-style-type: none
}

ul.lst-kix_b4nuu64qr9cy-3 {
    list-style-type: none
}

ul.lst-kix_b4nuu64qr9cy-2 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-7.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-7 0
}

ul.lst-kix_b4nuu64qr9cy-1 {
    list-style-type: none
}

ul.lst-kix_b4nuu64qr9cy-0 {
    list-style-type: none
}

.lst-kix_o1pzltbwbirz-7>li:before {
    content: "\0025cb   "
}

ol.lst-kix_xazfa2e79fcy-0.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-0 0
}

.lst-kix_o1pzltbwbirz-6>li:before {
    content: "\0025cf   "
}

.lst-kix_o1pzltbwbirz-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_b4nuu64qr9cy-8 {
    list-style-type: none
}

ul.lst-kix_b4nuu64qr9cy-7 {
    list-style-type: none
}

.lst-kix_o1pzltbwbirz-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_b4nuu64qr9cy-6 {
    list-style-type: none
}

ul.lst-kix_b4nuu64qr9cy-5 {
    list-style-type: none
}

ul.lst-kix_o1pzltbwbirz-0 {
    list-style-type: none
}

ul.lst-kix_o1pzltbwbirz-4 {
    list-style-type: none
}

ul.lst-kix_o1pzltbwbirz-3 {
    list-style-type: none
}

ul.lst-kix_o1pzltbwbirz-2 {
    list-style-type: none
}

.lst-kix_xazfa2e79fcy-4>li {
    counter-increment: lst-ctn-kix_xazfa2e79fcy-4
}

ul.lst-kix_o1pzltbwbirz-1 {
    list-style-type: none
}

.lst-kix_o1pzltbwbirz-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_o1pzltbwbirz-8 {
    list-style-type: none
}

ul.lst-kix_o1pzltbwbirz-7 {
    list-style-type: none
}

ul.lst-kix_o1pzltbwbirz-6 {
    list-style-type: none
}

ul.lst-kix_o1pzltbwbirz-5 {
    list-style-type: none
}

ol.lst-kix_xazfa2e79fcy-8.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-8 0
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_jhax2kjiqj8h-8>li:before {
    content: "\0025a0   "
}

ol.lst-kix_xazfa2e79fcy-1.start {
    counter-reset: lst-ctn-kix_xazfa2e79fcy-1 0
}

ul.lst-kix_1ulll5k4ihx5-8 {
    list-style-type: none
}

ul.lst-kix_1ulll5k4ihx5-7 {
    list-style-type: none
}

ul.lst-kix_1ulll5k4ihx5-0 {
    list-style-type: none
}

ul.lst-kix_1ulll5k4ihx5-2 {
    list-style-type: none
}

ul.lst-kix_1ulll5k4ihx5-1 {
    list-style-type: none
}

ul.lst-kix_1ulll5k4ihx5-4 {
    list-style-type: none
}

ul.lst-kix_1ulll5k4ihx5-3 {
    list-style-type: none
}

ul.lst-kix_1ulll5k4ihx5-6 {
    list-style-type: none
}

ul.lst-kix_1ulll5k4ihx5-5 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c0 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c9 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c6 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    padding-right: 0pt
}

.c2 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    border-top-style: solid;
    margin-left: 66pt;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c7 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c8 {
    color: #3a3a3a;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 22pt;
    font-family: "Arial";
    font-style: normal
}

.c5 {
    color: #3a3a3a;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    color: #3a3a3a;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    font-size: 10.5pt;
    color: #3a3a3a;
    font-weight: 700
}

.c10 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c11 {
    color: #3a3a3a;
    font-size: 10.5pt
}

.c4 {
    padding: 0;
    margin: 0
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

/* Terms */
.lst-kix_fpvt1d9n4yv8-0>li:before {
    content: "\0025cf   "
}

.lst-kix_fpvt1d9n4yv8-1>li:before {
    content: "\0025cb   "
}

.lst-kix_fpvt1d9n4yv8-2>li:before {
    content: "\0025a0   "
}

.lst-kix_fpvt1d9n4yv8-3>li:before {
    content: "\0025cf   "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_fpvt1d9n4yv8-4 {
    list-style-type: none
}

ul.lst-kix_fpvt1d9n4yv8-5 {
    list-style-type: none
}

.lst-kix_fpvt1d9n4yv8-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_fpvt1d9n4yv8-2 {
    list-style-type: none
}

ul.lst-kix_fpvt1d9n4yv8-3 {
    list-style-type: none
}

ul.lst-kix_fpvt1d9n4yv8-8 {
    list-style-type: none
}

.lst-kix_fpvt1d9n4yv8-6>li:before {
    content: "\0025cf   "
}

.lst-kix_fpvt1d9n4yv8-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_fpvt1d9n4yv8-6 {
    list-style-type: none
}

ul.lst-kix_fpvt1d9n4yv8-7 {
    list-style-type: none
}

.lst-kix_fpvt1d9n4yv8-4>li:before {
    content: "\0025cb   "
}

.lst-kix_fpvt1d9n4yv8-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_fpvt1d9n4yv8-0 {
    list-style-type: none
}

ul.lst-kix_fpvt1d9n4yv8-1 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c5 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c3 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c4 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    padding-right: 0pt
}

.c2 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    border-top-style: solid;
    margin-left: 66pt;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c13 {
    color: #3a3a3a;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 22pt;
    font-family: "Arial";
    font-style: normal
}

.c9 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Arial";
    font-style: normal
}

.c8 {
    color: #3a3a3a;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16.5pt;
    font-family: "Arial";
    font-style: normal
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c10 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    color: #3a3a3a;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Arial";
    font-style: normal
}

.c6 {
    color: #3a3a3a;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c12 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c0 {
    font-size: 10.5pt;
    color: #3a3a3a;
    font-weight: 700
}

.c7 {
    color: inherit;
    text-decoration: inherit
}

.c15 {
    padding: 0;
    margin: 0
}

.c11 {
    font-size: 10.5pt
}

.c16 {
    color: #3a3a3a
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}